@font-face {
  font-family: 'brandon-thin';
  src: local('brandon-thin'), url(./assets/fonts/Brandon_thin.ttf) format('truetype');
}
@font-face {
  font-family: 'brandon-bold';
  src: local('brandon-bold'), url(./assets/fonts/Brandon_bld.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'brandon-regular';
  src: local('brandon-regular'), url(./assets/fonts/Brandon_reg.ttf) format('truetype');
}
@font-face {
  font-family: 'brandon-grotesque';
  src: local('brandon-grotesque'), url(./assets/fonts/BrandonGrotesque-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'brandon-grotesque-medium';
  src: local('brandon-grotesque-medium'), url(./assets/fonts/BrandonGrotesque-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'brandon-grotesque-regular';
  src: local('brandon-grotesque-regular'), url(./assets/fonts/BrandonGrotesque-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'brandon-grotesque-bold';
  src: local('brandon-grotesque-bold'), url(./assets/fonts/BrandonGrotesque-Bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'brandon-grotesque-thin';
  src: local('brandon-grotesque-thin'), url(./assets/fonts/BrandonGrotesque-Thin.ttf) format('truetype');
  font-weight: bold;
}