.MapWrapper{
    display: inline-block;
    width: 50%;
}
.MapContainerElement{
    cursor: default;
    height: 600px;
}
.MapContainerElement img{
    /* height: 20px;
    width: 20px;*/
    /* border-radius: 50%; */
}

.gm-style{
    display: inline-block;

    /* -webkit-transform: rotateX( 45deg )!important;
    -moz-transform: rotateX( 45deg ) !important;
    -o-transform: rotateX( 45deg ) !important;
    transform: rotateX( 45deg ) !important; */
    /* -ms-transform: rotate(-3deg); IE 9 */
    /* transform: rotate(-3deg); */
}
