.ProgressBarWrapper{
    display: block;
    width: 90%;
    margin: 20px auto;
    height: 55px;
}

.ProgressBar {
    counter-reset: step;
}
.ProgressBar li {
    list-style-type: none;
    width: 49%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.ProgressBar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.ProgressBar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.ProgressBar li:first-child:after {
    content: none;
}
.ProgressBar li.active {
    color: green;
}
.ProgressBar li.active:before {
    border-color: #55ba80;
}
.ProgressBar li.active + li:after {
    background-color: #55ba80;
}